# https://circleci.com/docs/2.0/configuration-reference/

version: 2
jobs:
  tests:
    docker:
      - image: "fpco/stack-build:lts-12.13"

    environment:
      CI: "1"

    steps:
      # Get the source
      - "checkout"

      # Get stack, caching as much as we can.
      - restore_cache:
          keys:
            - stack-ghc-{{ checksum "s4/stack.yaml" }}
      - restore_cache:
          keys:
            - stack-deps-{{ checksum "s4/s4.cabal" }}
      - run:
          name: "Set up Stack"
          command: "stack setup --no-terminal --no-reinstall"
      - save_cache:
          key: stack-ghc-{{ checksum "s4/stack.yaml" }}
          paths:
            - "/root/.stack"
      - run:
          name: "Install dependencies"
          working_directory: "s4"
          command: "stack build --skip-ghc-check --no-terminal --test --only-dependencies"
      - save_cache:
          key: stack-deps-{{ checksum "s4/s4.cabal" }}
          paths:
            - "/root/.stack"
            - ".stack-work"

      # Build and run the tests.
      - run:
          name: "Build"
          working_directory: "s4"
          command: "stack build --no-terminal --coverage"
      - run:
          name: "Set up output path"
          working_directory: "s4"
          command: "mkdir -p test-results/http-tests"
      - run:
          name: "Test"
          working_directory: "s4"
          command: "stack test --no-terminal --coverage"

      # Get the coverage report uploaded as an artifact.
      - store_artifacts:
          # It would be nice to be able to extract this from the `stack test` command somehow.
          path: ".stack-work/install/x86_64-linux/lts-12.13/8.4.3/hpc/index.html"
          destination: "coverage"

workflows:
  version: 2
  workflow:
    jobs:
      - "tests"
